:root {
  /* Colors*/
  --magenta: #D90BCB;
  --blue: #0339A6;
  --dark-blue: #023373;
  --darkest-blue: #022340;
  --cyan: #30F2DF;
  --dark-gray: #282837;

  /* Color intentions */
  --background: var(--dark-gray);
  --text-color: white;
  --link-color: var(--cyan);

  /* Fonts */
  --display-font: 'Ubuntu', Helvetica, Arial, sans-serif;
  --body-font: 'Lora', serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --text-color: var(--darkest-blue);
    --link-color: var(--blue);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background-color: var(--background);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--display-font);
  font-weight: 500;
}
